global !p
from pypinyin import lazy_pinyin
import re

def title_to_slug(title, snip):
	pinyin = lazy_pinyin(title)
	slug = "-".join(pinyin)
	slug = slug.replace(' ', '-')
	slug = re.sub(r'-+', '-', slug)
	snip.rv = slug
endglobal

